$color_barra: #0068c9;
$color_destaque: #0068c9;
$color_destaque2: #0084ff;
$background_color_busca_cidade: #929d7f;
$color_borda_datas: #6a7b6a;
$color_tooltip: #6a7b6a;
$background_container: #f5f5f5;
$background_cinema: rgb(255, 255, 255);
$background_btn_horario: #0068c9;
$color_text_btn_horario: #ffffff;
$background_btn_horario_hover: #001e56;
$color_titulo_filme: #595c60;
$color_sub_titulo_filme: #bbc0c3;


$select_color: #0084ff;

$background_color_data: #bbc0c3;
$background_color_data_hover: #000000;
$border_color_data: #4d4d4d;

.text-strong{
    font-weight: 600!important;
}