html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    background-color: #000000;
    height: auto;
}

.evidon-banner {
    display: none;
}

#hub_vibezz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: #fff;
    width: 100%;
    align-items: flex-start;
    height: 100%!important;
    background-color: #202020;
}

.content-movie {
    //display: table;
    min-width: 50vh;
    margin-left: 55vh;
    background-color: #000000;
    height: 100%;
    padding: 0 0 100px;
    flex-grow: 2;
    .datas_content {
        padding: 10px;
        position: sticky;
        height: 60px;
        background-color: black;
        left: 50%;
        top: 10px;
    }
}

// .poster {
//     position: fixed;
//     min-width: 60vh;
//     height: 97vh;
//     background-image: url("~@/assets/cartaz.jpg");
//     background-size: cover;
//     background-position: center center;
// }
.poster {
    margin-top: 0px;
    position: fixed;
    // background-image: url("~@/assets/cartaz.jpg");
    // object-fit: contain;
    min-width: 55vh;
    height: 90vh;
    img {
        object-fit: cover;
        width: 55vh;
        height: 100%;
    }
}

.poster-mobile {
    display: none;
}

@media (max-width: 1024px) {
    .poster-mobile {
        display: block;
        width: 100%;
        img {
            width: 100%;
            margin-top: 0px;
        }
    }
    #hub_vibezz {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color: #fff;
        width: 100%;
        align-items: flex-start;
        height: 100%!important;
        background-color: #202020;
    }
    .poster {
        position: relative;
        height: 600px;
        width: 100%;
        min-width: 10px;
        background-image: url("~@/assets/cartaz-mobile.jpg");
        background-size: cover;
        background-position: center center;
        z-index: 1;
        margin-top: 34px;
        margin-bottom: 0px;
        display: none;
    }
    .content-movie {
        //display: table;
        min-width: 50vh;
        margin-left: 0vh;
        background-color: #000000;
        height: 100%;
        width: 100%;
        padding: 1px 0 100px;
        flex-grow: 1;
        margin-top: 2px;
    }
    .content-movie-mobile {
        width: 100%;
        height: 100%;
        margin-top: -301px;
        overflow-y: visible;
    }
    .footer_wrapper {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 30px;
        z-index: 20;
        text-transform: uppercase;
        background-color: #171717;
        font-size: 10px;
        color: #ccc;
        .links_footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 12px;
            cursor: pointer;
            a {
                color: #ccc;
                margin: 10px;
                text-decoration: none;
                &:hover {
                    color: rgb(55, 144, 238);
                }
            }
        }
    }
}

.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    display: block !important;
    border: 0px solid rgb(255, 255, 255);
}

.owl-prev {
    left: -50px;
}

.owl-next {
    right: -50px;
}

.owl-prev i,
.owl-next i {
    transform: scale(3, 4);
    color: #ccc;
    &:hover {
        color: rgb(243, 208, 152);
    }
}

@media (max-width: 767px) {
    #hub_vibezz {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color: #fff;
        width: 100%;
        align-items: flex-start;
        height: 100%!important;
        background-color: #202020;
    }
    .poster-mobile {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .poster {
        position: relative;
        height: 300px;
        width: 100%;
        min-width: 10px;
        background-image: url("~@/assets/cartaz-mobile.jpg");
        background-size: cover;
        background-position: center center;
        z-index: 1;
        margin-top: 34px;
        display: none;
    }
    .content-movie {
        //display: table;
        min-width: 5vh;
        margin-left: 0vh;
        background-color: #000000;
        height: 100%;
        width: 100%;
        padding: 1px 0 100px;
        flex-grow: 1;
        margin-top: 2px;
    }
    .owl-prev,
    .owl-next {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20%;
        display: block !important;
        border: 0px solid rgb(255, 255, 255);
    }
    .owl-prev {
        left: -50px;
    }
    .owl-next {
        right: -50px;
    }
    .owl-prev i,
    .owl-next i {
        transform: scale(3, 4);
        color: #ccc;
        &:hover {
            color: rgb(243, 208, 152);
        }
    }
}

$popper-background-color: $color_tooltip !default;
.vue-tooltip {
    background-color: $popper-background-color !important;
    box-sizing: border-box;
    color: #fff;
    // min-width: 120px;
    max-width: 320px;
    padding: 6px 10px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 2px 2px 3px rgba(#000, 0.4);
    font-size: 10px;
    &.vue-tooltip-hidden {
        transform: translateX(-100000px) !important;
    }
    .vue-tooltip-content {
        text-align: center;
    }
    .tooltip-arrow {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
    }
    &[x-out-of-boundaries] {
        display: none;
    }
    &[x-placement^="bottom"] {
        margin-top: 5px;
        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-bottom-color: $popper-background-color !important;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            top: -5px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &[x-placement^="top"] {
        margin-bottom: 5px;
        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-top-color: $popper-background-color !important;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            bottom: -5px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &[x-placement^="right"] {
        margin-left: 5px;
        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-right-color: $popper-background-color !important;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &[x-placement^="left"] {
        margin-right: 5px;
        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-left-color: $popper-background-color !important;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

#video {
    width: 100%;
    min-height: 100%;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 30px 30px 30px;
    img {
        width: 100%;
    }
}

.video-container {
    width: 96%;
    height: 450vh;
    margin: auto;
    background-color: rgb(4, 4, 4);
}

.video-container::after {
    padding-top: 20%;
    display: block;
    content: "";
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .video-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%!important;
        padding: 10px 10px 10px;
    }
}