$color_barra: #201c17;
$color_destaque: #557284;
$background_color_busca_cidade: #22201d;
$color_borda_datas: #14332f;
$color_tooltip: #2c2704;
// Programação
$color_text_datas: #557284;
$color_horario_bg:#557284;
$color_horario_bg_hover:#ffffff;
$color_text_horario:#557284;
// Botão Buscar
$btn_active_background_colorHover:#14332f;
$btn_buscar_active_background:#557284;
$color_text_button_buscar:#ffffff;
$color_text_button_buscar_hover:#ffffff;
$color_text_button_buscar_off:#e2e2e2;